:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-background: #2f303a;
  --section-background: #f5f4fa;
  --footer-logo: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* ========= HEADER ========= */

.container {
  width: 1600px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--primary-text-color);
}

.logo-accent-footer {
  color: var(--white-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}

.menu .menu-link.current {
  color: var(--accent-color);
}

.menu-link.contact {
  color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus,
.menu-contact-link:hover,
.menu-contact-link:focus {
  color: var(--accent-color);
}

/* =========END HEADER ========= */

/* ========= HERO ========= */

.hero {
  background: var(--main-background);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.main-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* ========= END HERO ========= */

/* ========= SECTION ========= */

.subtitle-list {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--section-background);
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  cursor: pointer;
}

.modal-btn.blue {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  transform: rotate(0.26deg);
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
  transform: rotate(0.26deg);
}
/* ========= END SECTION ========= */

/* ========= FOOTER ========= */

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-logo);
  text-decoration: none;
}

.footer-link.map {
  color: var(--white-color);
}

.footer {
  background-color: var(--main-background);
}

/* =========END FOOTER ========= */
